/* Created by Doll */
h1{
    color:black;
    text-align:center;
    height:60%;
    width:60%;
  top:400px;
  left:200px;
    position:absolute;
    font-size:3.5em;
    -webkit-animation:colorchange 2s infinite alternate;
}

@-webkit-keyframes colorchange  {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad; 
      }
      
      20% {
        
        color: #1abc9c;
      }
      

      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }

      60% {
        
        color: green;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      
      90% {
        
        color: red;
      }
      
      100% {
        
        color: yellow;
      }}
      
body {
    font-family:'Wendy One', sans-serif; background-image:url("http://Wallpaper-House.com/data/out/7/wallpaper2you_144984.jpg");
    background-size: cover ;
   background-repeat: repeat-x ;
   animation: animatedBackground 15s linear infinite; 
   overflow: scroll ; 
}    
 
@keyframes animatedBackground {
    from{
    background-position:0% 0%;}
    to{
        background-position:100% 0%;
    }
}

.card{
        top:200px;
        left:300px;
        background-color:lightblue;
        width:200px;
        height:280px;
        transition:all 2s ease;
        transform-style: preserve-3d;
        position:relative; 
          
    }
    .card:hover{
        transform:rotateY(180deg);
    }
    .con{
        perspective: 700;
    }
    .front,.back{
        background-color:lightblue;
        width:200px;
        height:280px;
        position:absolute; 
        backface-visibility:hidden;
        text-align: center;
        line-height: 150px; 
    }
    .back{
        transform: rotateY(180deg);
    }
    .card1{
        top:-80px;
        left:600px;
        background-color:lightblue;
        width:200px;
        height:280px;
        transition:all 2s ease;
        transform-style: preserve-3d;
        position:relative; 
          
    }
    .card1:hover{
        transform:rotateY(180deg);
    }
    .card2{
        top:-360px;
        left:900px;
        background-color:lightblue;
        width:200px;
        height:280px;
        transition:all 2s ease;
        transform-style: preserve-3d;
        position:relative; 
          
    }
 .card2:hover{
        transform:rotateY(180deg);
    }
    
    
    
    
    
    
            span {
                text-transform: uppercase;
            }
            .container {
                width: 800px;
                height: 420px;
                padding: 10px;
                margin: 0 auto;
                position: relative;
            }
            .balloon {
                width: 738px;
                margin: 0 auto;
                padding-top: 30px;
                position: relative;
            }   .balloon > div {
                width: 104px;
                height: 140px;
                background: rgba(182, 15, 97, 0.9);
                border-radius: 0;
                border-radius: 80% 80% 80% 80%;
                margin: 0 auto;
                position: absolute;
                padding: 10px;
                box-shadow: inset 17px 7px 10px rgba(182, 15, 97, 0.9);
                -webkit-transform-origin: bottom center;
            }
            .balloon > div:nth-child(1) {
                background: rgba(182, 15, 97, 0.9);
                left: 0;
                box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
                -webkit-animation: balloon1 6s ease-in-out infinite;
              
            }
             .balloon > div:nth-child(1):before {
                color: rgba(182, 15, 97, 0.9);
            }
            .balloon > div:nth-child(2) {
                background: rgba(242, 112, 45, 0.9);
                left: 120px;
                box-shadow: inset 10px 10px 10px rgba(222, 85, 14, 0.9);
                -webkit-animation: balloon2 6s ease-in-out infinite;
                
            }  
             .balloon > div:nth-child(2):before {
                color: rgba(242, 112, 45, 0.9);
            }
               .balloon > div:nth-child(3) {
                background: rgba(45, 181, 167, 0.9);
                left: 240px;
                box-shadow: inset 10px 10px 10px rgba(35, 140, 129, 0.9);
                -webkit-animation: balloon4 6s ease-in-out infinite;
                
            }
            
            .balloon > div:nth-child(3):before {
                color: rgba(45, 181, 167, 0.9);
            }
            
            .balloon > div:nth-child(4) {
                background: rgba(190, 61, 244, 0.9);
                left: 360px;
                box-shadow: inset 10px 10px 10px rgba(173, 14, 240, 0.9);
                -webkit-animation: balloon1 5s ease-in-out infinite;
                
            }
            
            .balloon > div:nth-child(4):before {
                color: rgba(190, 61, 244, 0.9);
            }
            
            .balloon > div:nth-child(5) {
                background: rgba(180, 224, 67, 0.9);
                left: 480px;
                box-shadow: inset 10px 10px 10px rgba(158, 206, 34, 0.9);
                -webkit-animation: balloon3 5s ease-in-out infinite;
               
            }
            
                .balloon > div:nth-child(5):before {
                color: rgba(180, 224, 67, 0.9);
            }
            
            .balloon > div:nth-child(6) {
                background: rgba(242, 194, 58, 0.9);
                left: 600px;
                box-shadow: inset 10px 10px 10px rgba(234, 177, 15, 0.9);
                -webkit-animation: balloon2 3s ease-in-out infinite;
               
            }
            
            .balloon > div:nth-child(6):before {
                color: rgba(242, 194, 58, 0.9);
            }
            .balloon > div:before {
                color: rgba(182, 15, 97, 0.9);
                position: absolute;
                bottom: -11px;
                left: 52px;
                content:"▲";
                font-size: 1em;
            }
            span {
                font-size: 4.8em;
                color: white;
                position: relative;
                top: 30px;
                left: 50%;
                margin-left: -27px;
            }
            @-webkit-keyframes balloon1 {
                0%, 100% {
                    -webkit-transform: translateY(0) rotate(-6deg);
                }
                50% {
                    -webkit-transform: translateY(-20px) rotate(8deg);
                }
            }
            @-webkit-keyframes balloon2 {
                0%, 100% {
                    -webkit-transform: translateY(0) rotate(6eg);
                }
                50% {
                    -webkit-transform: translateY(-30px) rotate(-8deg);
                }
            }
                 50% {
                    transform: translateY(-30px) rotate(-8deg);
                }
            }
            /* BAllOON 0*/
            @-webkit-keyframes balloon3 {
                0%, 100% {
                    -webkit-transform: translate(0, -10px) rotate(6eg);
                }
                50% {
                    -webkit-transform: translate(-20px, 30px) rotate(-8deg);
                }
            }
                 @-webkit-keyframes balloon4 {
                0%, 100% {
                    -webkit-transform: translate(10px, -10px) rotate(-8eg);
                }
                50% {
                    -webkit-transform: translate(-15px, 20px) rotate(10deg);
                }
            }
            
